<div class="row align-items-start justify-content-between">

  <div class="col-12 col-md-12 col-lg-8 col-xl-8">
    <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
      <div class="card">
        <div class="card-header">Add new product</div>
        <div class="card-body">
          <div class="form-group">
            <label for="name">Product Name</label>
            <input
              type="text"
              name="name"
              id="name"
              formControlName="name"
              [(ngModel)]="product.name"
              class="form-control"
              placeholder=""
              aria-describedby="namehelpId"
            />
            <small
              *ngIf="
                !productForm.get('name')?.valid &&
                productForm.get('name')?.touched
              "
              id="namehelpId"
              class="text-muted"
              >Product name is required</small
            >
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select name="category" id="category" formControlName="category" [(ngModel)]="product.category"> // value is an object
              <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
            </select>

            <!--<small
              *ngIf="
                !productForm.get('category')?.valid &&
                productForm.get('category')?.touched
              "
              id="namehelpId"
              class="text-muted"
              >Category is required</small
            >-->
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input
              type="text"
              name="price"
              id="price"
              type="number"
              formControlName="price"
              [(ngModel)]="product.price"
              class="form-control"
              placeholder=""
              aria-describedby="priceHelpId"
            />
            <small
              *ngIf="
                !productForm.get('price')?.valid &&
                productForm.get('price')?.touched
              "
              id="priceHelpId"
              class="text-muted"
              >Price is required</small
            >
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <textarea
              name="mota"
              id="mota"
              formControlName="mota"
              [(ngModel)]="product.mota"
              class="form-control"
              placeholder=""
              aria-describedby="descHelpId"
            ></textarea>
            <small
              *ngIf="
                !productForm.get('mota')?.valid &&
                productForm.get('mota')?.touched
              "
              id="descHelpId"
              class="text-muted"
              >Description is required</small
            >
          </div>
          <div class="form-group">
            <label for="image">Image URL</label>
            <input
              type="text"
              name="HinhAnh"
              id="HinhAnh"
              formControlName="HinhAnh"
              [(ngModel)]="product.HinhAnh"
              class="form-control"
              placeholder=""
              aria-describedby="imageHelpId"
            />
            <small
              *ngIf="
                !productForm.get('HinhAnh')?.valid &&
                productForm.get('HinhAnh')?.touched
              "
              id="imageHelpId"
              class="text-muted"
              >Image URL is required</small
            >
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <p class="pt-3 pb-3">{{ product | json }}</p> -->
