<div class="row align-items-start justify-content-between">

  <div class="col-12 col-md-12 col-lg-8 col-xl-8">
    <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
      <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="name">ID Sản phẩm</label>
            <input type="text" name="_id" id="_id" formControlName="_id" [(ngModel)]="product._id"
              class="form-control" placeholder="" aria-describedby="nameHelpId">
              <small *ngIf="!productForm.get('_id')?.valid && productForm.get('_id')?.touched" id="nameHelpId" class="text-muted">
                Mã danh mục đã sử dụng
              </small>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" formControlName="name" [(ngModel)]="product.name"
              class="form-control" placeholder="Tên sản phẩm" aria-describedby="nameHelpId">
            <small *ngIf="!productForm.get('name')?.valid && productForm.get('name')?.touched" id="nameHelpId"
              class="text-muted">
              Tên sản phẩm phải có ít nhất 6 ký tự
            </small>
          </div>
          <div class="form-group">
            <label for="price">Giá</label>
            <input type="text" name="price" id="price" formControlName="price" [(ngModel)]="product.price"
              class="form-control" placeholder="Giá sản phẩm" aria-describedby="priceHelpId">
            <small *ngIf="!productForm.get('price')?.valid && productForm.get('price')?.touched" id="priceHelpId"
              class="text-muted">
              Giá sản phẩm là bắt buộc
            </small>
          </div>

          <div class="form-group">
            <label for="mota">Mô tả</label>
            <input type="text" name="mota" id="mota" formControlName="mota" [(ngModel)]="product.mota"
            class="form-control" placeholder="Mô tả sản phẩm" aria-describedby="motaHelpId">
            <small *ngIf="!productForm.get('mota')?.valid && productForm.get('mota')?.touched" id="motaHelpId"
              class="text-muted">
              Mô tả sản phẩm không được để trống
            </small>
          </div>

          <div class="form-group">
            <select class="form-control" name="category" id="category" formControlName="category" [value]="product.category" [(ngModel)]="product.category">
              <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="HinhAnh">Hình ảnh</label>
            <input type="text" style="width: 100%; height: 50px;" name="HinhAnh" id="HinhAnh" formControlName="HinhAnh" [(ngModel)]="product.HinhAnh" >
          </div>

        </div>
        <div class="form-group">
          <button class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>