<div class="row align-items-start justify-content-between">
  <div class="col-12 col-md-12 col-lg-4 col-xl-4 text-center miliods">

  </div>
  <div class="col-12 col-md-12 col-lg-8 col-xl-8">
    <!-- row -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Category Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let category of categories" >
            <td>{{ category.name }}</td>
            <td>
              <a [routerLink]="['/admin/category-edit', category._id]">Edit</a> |
              <a href="javscript:void(0)" (click)='deleteCategory(category._id)'>Delete</a>
            </td>
          </tr>

      </tbody>
    </table>
    <!--  -->
    <div class="row align-items-center">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"></div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group">
          <a [routerLink]="['/admin/category-add']" class="btn btn-primary">Add Category</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <nav>
  <ul>
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/login']">Login</a></li>
    <li><a [routerLink]="['/admin/category-list']">Category List</a></li>
    <li><a [routerLink]="['/admin/category-add']" class="btn btn-primary">Add Category</a></li>
    <li><a [routerLink]="['/admin/product-list']">Product List</a></li>
    <li><a [routerLink]="['/admin/product-add']">Add Product</a></li>
  </ul>
</nav> -->
